.hide-mobile {
  display: none;
}

// underliggende sider
body.page .wp-post-image {
    width: 100%;
}

.underliggende-wrap {
  margin-top: 35px;

  .underliggende-sidebar {

    ul {
      list-style: none;

      li {

        &:not(last-child) {
          margin-bottom: 15px;
        }

        a {
          color: #666;
          text-transform: uppercase;
          font-size: 17px;
          font-weight: 300;
          line-height: 175%;

          &:hover {
            color: $yellow;
          }

          &:before {
            font-family: 'FontAwesome';
            content: "\f105";
            padding-right: 5px;
            color: #666;
          }
        }
      }

      li.current_page_item a {
        color: $yellow !important;
      }
    }
  }

    .page-header {
      padding: 0;
      margin: 0;
      border: none;

      h1 {
        font-weight: 600;
        font-size: 28px;
      }
  }

  p#breadcrumbs {
    color: #999;
    font-size: 15px;
    font-weight: 300;

    a {
      color: #999;
    }
  }

  .underliggende-content {
    margin-top: 30px;
  }
}




// anchor tags
a {
  color: $yellow;
  transition: all .3s;

  &:hover {
    text-decoration: none;
    color: darken($yellow, 10%);
  }
}


// content cards
.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}

.card-1-hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.img-boxshadow-1 {
  img {
    @extend .card-1;
  }
}

.img-boxshadow-2 {
  img {
    @extend .card-2;
  }
}

.img-boxshadow-3 {
  img {
    @extend .card-3;
  }
}
// -- box shadows
