// Import fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

$opensans:              'Open Sans', sans-serif;

// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$yellow:                #f0b600;
