@import "common/variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";


*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: $opensans;
	width: 100%;
	height: 100%;
	color: #444;
	background-color: #f8f8f8;
	line-height: 175%;
	font-size: 16px;

}



// top bar
.top-bar-height {
	height: 10px;
}

.top-bar-orange {
	@extend .top-bar-height;
	background-color: #f0b600;

	.top-1 {
		@extend .top-bar-height;
	  background-color: #f9da92;
	}

	.top-2 {
		@extend .top-bar-height;
	  background-color: #e1c600;
	}

	.top-3 {
		@extend .top-bar-height;
		background-color: #c8a000;
	}
}


// nav desktop
.top-nav-wrap {
	background-color: #fff;
}

.top-nav {
	background-color: #fff;
	margin: 0;
	padding: 0;

	.active a {
		color: $yellow;
	}

	li {
		margin: 3px 3px 0 20px;
		display: inline-block;

		a {
			padding: 2px;
			color: #9b9d9f;
			font-size: 14px;

			&:hover,
			&:focus {
				background-color: transparent;
				color: $yellow;
			}
		}
	}
}

.navbar-brand {
	width: 100%;
	height: 100%;
	padding: 0 0 20px 0;
}


.navbar-default {
	background-color: #fff;
	margin: 0;

	.navbar-nav {

		.open a {
			background-color: transparent;

			&:focus {
				background-color: transparent;
				color: $yellow;
			}
		}

		.active a {
			background-color: transparent;
			color: $yellow;

			&:focus,
			&:hover {
				background-color: transparent;
				color: $yellow;
			}
		}

		li {
			margin-left: 30px;
			margin-top: 40px;

			a {
				padding: 5px;
				font-size: 16px;
				color: #7d7e80;

				&:hover {
					color: $yellow;
				}
			}
		}

		.dropdown-menu {
			margin: 10px 0;
			padding: 0;
			border: none;
			border-top: 4px solid $yellow;
			border-radius: 0;
			box-shadow: none;
			min-width: 200px;
			left: auto;
			right: 50%;
			transform: translate(75%, 0);

			li {
				margin: 0;

				a {
					padding: 15px 20px;
					font-size: 15px;
					border-bottom: 1px solid #ebebeb;
				}
			}
		}
	}
}


// forside layer slider
.ls-l.forside-slider-text {
	background-color: rgba(249, 218, 145, 0.35) !important;
	padding: 20px 30px 20px 100px !important;
	font-size: 30px !important;
	font-weight: lighter;
}


// aoc desktop
.aoc-wrap {
	background: url('../../assets/images/worldmap.png') no-repeat center center;
	background-size: cover;
	padding-bottom: 100px;

	.forside-intro {
		padding: 0 200px;
		text-align: center;
		margin-top: 50px;
		margin-bottom: 75px;

		hr {
			width: 200px;
			height: 2px;
			border: none;
			background-color: #a6a6a6;
			margin-top: 50px;
		}
	}
}

.indholdskort {
	@extend .card-1;
	width: 100%;
	min-height: 500px;
	background-color: #fff;

	.indholdskort-content {
		padding: 20px;

		h2 {
			font-size: 20px;
			margin-bottom: 15px;
		}

		p {
			font-size: 15px;
		}

		.btn-aoc {
			@extend .btn-default;
			bottom: 8%;
			position: absolute;
		}
	}
}


.btn-default {
	text-transform: uppercase;
	border-radius: 0;
	border: 0;
	background-color: $yellow;
	color: #fff;
	padding: 10px 20px;
	font-weight: bold;
	font-size: 13px;

	&:hover,
	&:focus,
	&:active {
		background-color: $yellow !important;
		border-top-left-radius: 5px ;
		border-bottom-right-radius: 5px;
		color: #fff !important;
		transform:translateX(7px);
	}
}








/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	body.page .wp-post-image {
	    width: 110% !important;
	}

	.btn-default {
		text-transform: uppercase;
		border-radius: 0;
		border: 0;
		background-color: $yellow;
		color: #fff;
		padding: 10px 20px;
		font-weight: bold;
		font-size: 13px;

		&:hover,
		&:focus,
		&:active {
			background-color: $yellow !important;
			border-top-left-radius: 5px ;
			border-bottom-right-radius: 5px;
			color: #fff !important;
			transform:translateX(7px);
		}
	}

	.top-nav {
		border-bottom: 1px solid #ebebeb;
		text-align: center;

		li {
			margin: 0 0 0 20px;
			display: inline-block;

			&:first-child {
				margin: 0;
			}

			a {
				padding: 10px;
				color: #9b9d9f;
			}
		}
	}

	.navbar-brand {
		width: 40%;
		height: 40%;
		padding: 10px;
	}

	.navbar-default {

		.navbar-collapse {
			position: absolute;
			background-color: #fff;
			width: 100%;
		}

		ul#menu-hovedmenu {
			border-bottom: 4px solid $yellow;
			padding-bottom: 4px;
		}

		.navbar-toggle {
			margin-top: 10%;
			border: none;

			&:hover,
			&:focus {
				background-color: transparent;
			}

			.icon-bar {
				width: 30px;
				border-radius: 0;
			}

			.icon-bar+.icon-bar {
				margin-top: 6px;
			}
		}

		.navbar-nav {

			li {
				margin: 0;
				padding: 10px 0;
				text-align: center;

				&:not(last-child) {
					border-bottom: 1px solid #ebebeb;
				}

				&:last-child {
					border: none;
				}
			}
		}
	}

	.collapsing {
    transition: height 0s ease;
  }



// aoc mobile
.aoc-wrap {
	background: url('../../assets/images/worldmap.png') repeat-y center center;
	background-size: contain;
	padding-bottom: 100px;

	.forside-intro {
		padding: 0 10%;
		margin-top: 30px;
		margin-bottom: 35px;
		text-align: left;

		h1 {
			font-size: 25px;
		}

		hr {
			display: none;
		}
	}

	.aoc-wrap-padding {
		padding: 0 30px;
	}
}

	.indholdskort-middle {
		margin: 30px 0;
	}

	.indholdskort {
		min-height: 210px;

		.indholdskort-content {

			.btn-aoc {
				position: relative;
				margin-top: 20px;
			}
		}
	}

	// mobile underliggende sidebar

	.underliggende-wrap {
	  margin-top: 15px;

		.underliggende-sidebar {
			margin-top: 30px;

	    ul {
				padding: 0;
			}
		}

		.underliggende-content {
			margin-top: 15px;
		}
	}




	// mobile footer
	footer {
		margin-top: 40px;

		.content-info {

			.row-margin {
				margin-top: 0;
			}

			h3 {
				margin-bottom: 5px;
				font-size: 15px;
			}

			.footer-afdeling {
				margin-top: 40px;
			}
		}
	}


	.copyright {

		p {
			padding: 10px 0 !important;
		}
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

	.navbar-default {

		.navbar-toggle {
			margin-top: 8%;
		}
	}

	.aoc-wrap {
		background: url('../../assets/images/worldmap.png') repeat-y center center;
		background-size: contain;
		padding-bottom: 100px;

		.forside-intro {
			padding: 0 5%;
			margin-top: 30px;
			margin-bottom: 35px;
			text-align: left;

			h1 {
				font-size: 25px;
			}

			hr {
				display: none;
			}
		}

		.aoc-wrap-padding {
			padding: 0 10px;
		}
	}

}
