footer {
	margin-top: 80px;

	.content-info {
		padding: 50px 0;
		background-color: #fff;

		.row-margin {
			margin-top: 40px;
		}

		h3 {
			text-transform: uppercase;
			font-size: 17px;
		}

		p {
			color: #666;
		}
	}

	.copyright {
		background-color: $yellow;
		text-align: center;

		p {
			margin: 0;
			padding: 10px 0;
			color: #fff;
			font-size: 14px;
			font-weight: 300;
		}
	}
}

.home footer {
	margin-top: 0;
}
